*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(231, 230, 230);
}

header{
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: #fff;
    border: rgb(173, 173, 173) 1px solid;
    z-index: 100;
}

header #menu ul{
    list-style: none;
    margin: 0;
    padding:0;
}

header #menu ul li{
    float: left;
}

header #menu ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px 30px;
    margin-right: 1px;
    border-radius: 10px;
}

header #menu ul li a:hover{
    background-color: rgb(243, 243, 243);
    border-bottom: solid 2px rgb(228, 227, 227);
}

.logo{
    padding:3px 40px 3px 20px; 
}

.logo img{
    width: 80px;
}

#main{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(231, 230, 230);
}

#cabecalho #login{
    position: relative;
    top: 7px;
    float: right;
    margin-right: 20px;
    width: 230px;
}

#cabecalho #login #img-login{
    margin-top: 8px;
    float: left;
}

#cabecalho #login #links-login a{
    padding: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(167, 165, 165);
    border-radius: 5px;
}

#cabecalho #login #links-login a:hover{
    background-color: rgb(187, 185, 185);
}

#cabecalho #login #img-login img{
    width: 30px;
    cursor: pointer;
}

#cabecalho #login #links-login{
    float: right;
    position: relative;
    top:15px;
}

#main #banner #banner-img-slogan{
    position: relative;
    top: 70px;
    width: 90%;
    background-image: url("../images/main-banner.png");
    background-size: cover;
    height: 280px;
    margin:auto;
    z-index: 1;
}

#main #banner #banner-img-slogan #slogan{
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;
    top:95px;
    left: 30px;
    /* display: inline-block; */
    width: 600px;
}

#main #banner #banner-img-slogan #slogan #slogan-title{
    font-size: 42px;
    color:white;
    text-shadow: rgb(54, 54, 54) 2px 2px 0px;
    padding: 0;
    margin-bottom: 5px;
}

#main #banner #banner-img-slogan #slogan .slogan-p{
    padding: 0px;
    font-size: 20px;
    text-align: justify;
    line-height: 22px;
}

#main #content{
    position: relative;
    top: 80px;
    width: 90%;
    height: 200px;
    /* background-color: hotpink; */
    margin:auto;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}

#main #content ul, #main #content ol{
    margin: 5px 20px;
    font-size: 18px;
}

#main #content .recommendations{
    margin: 10px 30px;
    float: left;
}

#main #content a{
    text-decoration: none;
    color: black;
}
#main #content a:hover{
    color: gray;
}


