*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(231, 230, 230);
}

header{
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: #fff;
    border-bottom: rgb(173, 173, 173) 1px solid;
}

header #menu ul{
    list-style: none;
    margin: 0;
    padding:0;
}

header #menu ul li{
    float: left;
}

header #menu ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px 30px;
    margin-right: 1px;
    border-radius: 10px;
}

.logo{
    padding:3px 40px 3px 20px; 
}

.logo img{
    width: 80px;
}

section{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(231, 230, 230);
}

#cabecalho #login{
    position: relative;
    top: 7px;
    float: right;
    margin-right: 20px;
    width: 230px;
}

#cabecalho #login #img-login{
    margin-top: 8px;
    float: left;
}

#cabecalho #login #links-login a{
    padding: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(167, 165, 165);
}

#cabecalho #login #links-login a:hover{
    background-color: rgb(187, 185, 185);
}

#cabecalho #login #img-login img{
    width: 30px;
    cursor: pointer;
}

#cabecalho #login #links-login{
    float: right;
    position: relative;
    top:15px;
}

