html,
body {
  font-family: 'Sen', sans-serif;
  margin-top: 0;
  margin-left: 2em;
  margin-right: 2em;
  box-sizing: border-box;
  background: #ffffff;
}
#container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 15vh 12vh auto 20vh;
  grid-template-areas:
  "figure nav nav"
    "header header header"
    "article article aside"
    "footer footer footer";
}
/*
    Section NAV
*/
nav {
 
  background: black;
  grid-area: nav;
  display: flex;
}

ul {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
nav ul {
  margin: 0px;
  padding: 24px 0px 5px 30px;
}

nav li {
  margin-right: 40px;
  list-style: none;
  text-decoration: none;
  display: inline;
}

nav li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}
/*
    Section HEADER
*/
#cabecalho {
  background: rgba(128, 128, 118, 0.87);
  grid-area: header;
}

#cabecalho .heading{
  text-align: center;
  font-size: 2em;
  color: white;
}
/*
    Section FIGURE
*/
figure {
  background: rgb(255, 255, 253,255);
  grid-area: figure;
  margin: 0px;
  justify-self: center;
}
figure .logo{
  margin-top: 20%;
}
/*
    Section MAIN
*/
article {
  
  background: rgba(181, 181, 184, 0.295);
  grid-area: article;
}
article section{
  margin-top: 1em;
  margin-left: 10%;
  margin-right: 10%;
}
article #jsimg{
  width: 50%;
}
article div{
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.178);
  margin-left: 10%;
  margin-right: 10%;
}
/*
    Section ASIDE
*/
aside {
  background: rgba(84, 85, 84, 0.219);
  grid-area: aside;
}
aside #tabela{
  padding: 1em;
  border: solid;
  border-radius: 8px;
  align-items: center;
}
aside #lista{
  padding: 1em;
  border: solid;
  border-radius: 8px;
  align-items: center;
}
/*
    Section FOOTER
*/
footer {
  background: red;
  grid-area: footer;
}
