* {
    margin: 5px;
    padding: 5px;
}

body {
    background-color: rgb(15, 163, 107);
    color: white;
}

h2 {
    text-align: center;
}

#cabecalho {
    background-color: white;
    color: rgb(15, 163, 107);
    position: fixed;
    margin-top: -20px;
    margin-left: -20px;
    width: 100%;
}

nav a {
    background-color: #925ca8;
    color: white;
    text-decoration: none;
}

#logo-trybe {
    height: 40px;
    float: right;
    margin-top: -50px;
    margin-right: 150px;
}

a:hover {
    font-weight: 1000px;
}

article {
    margin-top: 80px;
    background-color: rgb(15, 163, 107);
    width: 60%;
    float: left;
}

.section {
    margin-top: 80px;
    height: 30%;
}

aside {
    padding-top: 80px;
    border: 1px solid #925ca8;
    background-color: white;
    color: rgb(15, 163, 107);
    float: right;
    width: 30%;
}

ol li {
    border: 2px solid #925ca8;
}

#rodape {
    padding: 20px;
    background-color:#333;
    color: white;
    clear: both;
    text-align: center;
}
