* {
    margin: 5px;
    padding: 5px;
}

body {
    background-color: rgb(15, 163, 107);
    color: white;
}

h2 {
    text-align: center;
}

#cabecalho {
    background-color: white;
    color: rgb(15, 163, 107);
}

nav a {
    background-color: #925ca8;
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: 1000px;
}

article {
    background-color: rgb(15, 163, 107);
    width: 60%;
    float: left;
}

.section {
    height: 30%;
}

aside {
    background-color: white;
    color: rgb(15, 163, 107);
    float: right;
    width: 30%;
}

ol li {
    border: 2px solid #925ca8;
}

#rodape {
    background-color:#333;
    color: white;
    clear: both;
    text-align: center;
}
