html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffffff;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 15vh 10vh auto 20vh;
  grid-template-areas:
  "figure nav nav"
    "header header header"
    "article article aside"
    "footer footer footer";
}
/*
    Section NAV
*/
nav {
 
  background: black;
  grid-area: nav;
  display: flex;
}

ul {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
nav ul {
  margin: 0px;
  padding: 24px 0px 5px 30px;
}

nav li {
  margin-right: 40px;
  list-style: none;
  text-decoration: none;
  display: inline;
}

nav li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}
/*
    Section HEADER
*/
header {
  background: rgba(245, 245, 242, 0.452);
  grid-area: header;
}
header #heading{
  text-align: center;
}
/*
    Section FIGURE
*/
figure {
  background: rgb(255, 255, 253,255);
  grid-area: figure;
  margin: 0px;
  justify-self: center;
}
figure .logo{
  margin-top: 20%;
}
/*
    Section MAIN
*/
article {
  
  background: rgb(181, 181, 184);
  grid-area: article;
}
/*
    Section ASIDE
*/
aside {
  background: rgb(84, 85, 84);
  grid-area: aside;
}
/*
    Section FOOTER
*/
footer {
  background: red;
  grid-area: footer;
}
