* {
    margin: 0;
    padding: 0;
    border: 5px solid lightblue;
    position: relative;
}

body {
    background-color: rgb(15, 163, 107);
    color: white;
}

#cabecalho {
    background-color: white;
}

article {
    background-color: rgb(15, 163, 107);
    width: 70%;
    float: left;
    
}

aside {
    background-color: white;
    float: right;
    width: 20%;
}

#rodape {
    background-color: white;
    clear: both;
}

