#cabecalho {
  display: flex;
  position: fixed;
  background-color: $second-grey;
  height: 65px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: #fff;
  }

  .logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: $light-blue;
  }

  .nav-links {
    display: flex;
    list-style: none;

    .nav-item {

      .nav-link-active {
        color: $light-blue;
      }

      .nav-link {
        padding: 23px;

        &:hover {
          color: $light-blue;
          transition: 0.5s;
        }
      }
    }
  }
}