    body {
        background-color: #C4EBF1;
    }

    article {
        padding-top: 100px;
    }

    #cabecalho {
        background-color: #89C7E7;
        text-align: center;
        position: fixed;
        width: 99%;
        border-radius: 10px;
    }

    #rodape {
        text-align: center;
        background-color: #C4EBF1;
    }
    p strong {
        color:#0fa36b
    }