body{
    background-color: #146B3A;
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #EA4630;
    text-align: left;
}
header{
    position: fixed;
    background-color: #165B33;
    width: 100%;
    font-size: larger;
    font-weight: bolder;
}
footer{
    background-color: #165B33;
    width: 100%;
    padding: 20px 0px;
    text-align: end;
    margin-top: 900px;
}
#foto-aerea{
    width: 500px;
}
#container{
    padding: 30px 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}
article{
    margin-left: 15px;
    margin-right: 15px;
}
.lado-esquerdo{ 
    float: left;
    margin: 3px;
    padding: 3px;
    border: #F8B229 solid 5px;
}
.lado-direito{
    float: right;
    margin: 3px;
    padding: 3px;
    border: #F8B229 solid 5px;
}
 