*{
    margin: 0;
}
body{
    background-color: darkgray;
}
#cabecalho{
    width: 100%;
    height: 150px;
    background-color:black; 
    position: fixed;
    color: darkgray;
    text-align: center;
}
