body {
    background-color:  #718e5e;
    margin:  3px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: #a52a2a;
    text-align: left;
}
header {
    position:  fixed;
    background-color:  #466d57;
    width:  100%;
    font-size: larger;
    font-weight: bolder;
}

footer {
    background-color:  #466d57;
    width:  100%;
    padding:  20px 0px;
    text-align:  end;
    margin-top: 900px;
}

#foto-aerea {
    width:  500px;
}

#container {
    padding:  30px 20px;
    align-items:  center;
    display:  flex;
    flex-direction:  row;
    justify-content:  center;
    margin: 20px;
}
article {
    margin-left: 15px;
    margin-right: 15px;
}

.lado-esquerdo{
    float: left;
    margin: 3px;
    padding: 3px;
    border: #9ca7a0 solid 5px;
}
.lado-direito{
    float: right;
    margin: 3px;
    padding: 3px;
    border: #466d57 solid 5px;
}