@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');


/* Formatações Cabeçalho */

header#cabecalho {
    background-color:  rgb(66,18,45);
    margin-top: -20px;
    position: fixed; 
    z-index: 300;
    width: 100%;
    height: 100px;
}

div.titulo {
    color: rgb(255, 255, 255);
    font-family: 'Handlee', cursive;
    line-height: 10px;
    font-size: 20px;
    float: left;
    margin-left: 50px;
    margin-top: 15px;
}

nav.menu-navegacao {
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 4px;
}

nav.menu-navegacao ul {
	list-style: none;
    text-transform: uppercase;    
}

nav.menu-navegacao li {
	display: inline-block;
	background-color:  rgb(66,18,45);
	padding: 10px;
	margin: 2px;
	transition: 1s;
	font-family: 'Handlee', cursive;
	font-size: 20px;
	font-weight: bold;
}

nav.menu-navegacao li:hover {
	background-color: rgb(114, 112, 112); 
}

nav.menu-navegacao a {
	color: rgb(255,255,255);
	text-decoration: none;
}	

nav.menu-navegacao a:hover {
	color: rgb(255,255,255); 
	text-decoration: underline;
}

/* Formatações Article, Perfil, Obras */

article#corpo {
    display: block;
    width: 1400px;
    height: 2700px;
    float: left;
    margin: 100px 20px 20px 20px;
    background-color: rgb(114, 112, 112);
}

section.perfil-section {
    color: rgb(114, 112, 112);
    text-align: left;
    font-family: 'Handlee', cursive;
    font-size: 30px;
    margin-top: -10px;
}
img.foto-perfil {
	float: left;
    padding: 10px;
    margin-top: -35px;
}
div.biografia {
    font-size: 25px;
    margin-top: -30px;
    padding: 0px 10px 0px 10px;
    float: right;
}

section.obras-section {
    color: rgb(114, 112, 112);
    text-align: left;
    font-family: 'Handlee', cursive;
    font-size: 30px;
    margin-top: -10px;
    height: 2000px;
}
div.work {
    color: rgb(114, 112, 112);
    font-family: 'Handlee', cursive;
    font-size: 25px;
}

div.foto-obras {
    font-size:20px;
    line-height: 10px;
    background-color: rgb(66,18,45);
    border: 10px;
}

div.foto-obra1 {
    float: right;
}

div.foto-obra2 {
    float: left;
}


/* Formatações Referência, Aside e Footer*/

section.referencias-section {
    color: rgb(114, 112, 112);
    font-family: 'Handlee', cursive;
    font-size: 25px;
}

div.ref {
    font-size: 20px;
}

aside.ficha {
    height: 2800px;
    float: right;
    width: 20%;
}

div.tabela {
    background-color:  rgb(66,18,45);
    color: rgb(255, 255, 255);
    font-family: 'Handlee', cursive;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;  
    position: relative;
    top: 200px; 
}

div.principais-obras {
    background-color:  rgb(66,18,45);
    color: rgb(255, 255, 255);
    font-family: 'Handlee', cursive;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;   
    position: relative;
    top: 350px;

}

footer#rodape {
    background-color: rgb(0, 0, 0);
}
