* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(206, 206, 206);
}

#cabecalho {
    position: fixed;
    width: 100%;
    height: 100px;
    background-image: url(./rolha.jpg);
    background-size: cover;
}

nav {
    margin-top: 95px;
    position: fixed;
}

nav ul {
    list-style: none;
    margin-top: 25px;
}

nav ul li {
    display: table-cell;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 123.4px;
    padding-right: 123.4px;
    background-color: rgb(168, 34, 34);
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

nav a:hover {
    background-color: white;
    color: rgb(168, 34, 34);
    border: 1px solid rgb(168, 34, 34);
    opacity:0.9;
}

main {
    padding-top: 100px;
    width: 1000px;
    height: 1600px;
    margin: auto;
}

main h1 {
    padding-top: 120px;
    text-align: center;
    color: rgb(221, 2, 2);
    font-size: 65px;
    text-shadow: 4px 2px 5px rgb(85, 85, 85);
    line-height: 60px;
    font-family: 'Dancing Script', cursive;
}

main img {
    width: 400px;
    height: 280px;
    float: left;
    margin: 0 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.section-wine {
    margin-top: 35px;
}

#terroir-history {
    text-align: center;
    margin-top: 30px;
    float: left;
}

#terroir-history h2 {
    font-style: italic;
    font-size: 30px;
    color: crimson;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
}

#terroir-history p {
    padding: 30px 20px;
    text-align: justify;
}

.lado-esquerdo {
    float: left;
    margin-top: 60px;
    margin-bottom: 50px;
    width: 50%;
    height: 300px;
}

.lado-esquerdo h3 {
    text-align: center;
    margin-bottom: 20px;
}

.lado-esquerdo li {
    margin: 5px 30%;
}

.lado-direito {
    float: right;
    margin-top: 60px;
    width: 50%;
    height: 300px;
}

.lado-direito td {
    padding: 20px 20px;
}

.lado-direito table {
    margin: 0 auto;
}

#button-page-vin {
    float: left;
    width: 100%;
    height: 100px;
}

#page-vin-bordeaux {
    margin: 32%;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 48, 110);
    padding: 15px 20px;
    background-color: rgb(206, 206, 206);
    border: 2px solid red;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#page-vin-bordeaux:hover {
    background-color: rgb(197, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.5s;
    border: 2px solid red;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#rodape {
    width: 100%;
    height: 200px;
    background-color: rgb(167, 3, 3);
    clear: both;
}