body {
  background-color: #f2f2f2;
  font-family: 'Abel', sans-serif;
  margin: 0;
  padding: 0;
}

/* ------ Header ------ */

header {
  background-color: #11a36a;
  height: 80px;
  width: 100%;
}

#name-logo h1 {
  margin: 10px;
}

.lado-esquerdo {
  float: left;
}

#name-logo a {
  color: white;
  padding: 10px 25px;
  margin-right: 40px;
  display: block;
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 10px 50px;
}

.lado-direito {
  float: right;
}

nav ul li {
  float: left;
  padding: 10px 0px;
}

nav ul li a:link {
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

nav ul li a:visited {
  display: block;
  margin-right: 25px;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: white;
  color: #11a36a;
}

/* ------ Container ------ */

#container {
  margin-top: 70px;
}

#container h2 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -2px;
}

#intro {
  margin-right: 95px;
}

article {
  margin: auto;
  width: 80%;
}

article ol li {
  list-style-type: none;
  font-size: 48px;
}

article ol li a {
  display: block;
  text-decoration: none;
  margin: 20px 0px;
  font-weight: 500;
  color: #11a36a;
}

article ol li a:hover {
  display: block;
  text-decoration: none;
  margin: 20px 0px;
  font-weight: 500;
  color: #11a32a;
}

p {
  font-size: 18px;
}

footer {
  margin-right: 95px;
  margin: 10px 175px;
  width: 1040px;
}