body {
  background-color: #ec5e64;
  margin: 0;
  font-family: sans-serif;
  font-size: medium;
  font-style: italic;
  color: white;
}

table, 
tr, 
td {
  border-collapse: collapse;
  border: 5px solid #28a98f;
  padding-right: 30px;
}

#cabecalho {
  position: fixed;
  overflow: hidden;
  background-color: #6b3979;
  width: 100%;
  top: 0;
  clear: both;
}

.lado-direito {
  float: right;
  margin-top: 100px;
}

.lado-esquerdo {
  float: left;
  margin-top: 100px;
}

#rodape {
  position: relative;
  margin-top: -100px;
  width: 100%;
  clear: both;
}
