body {
    background-color: rgb(236, 236, 236);
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#cabecalho {
    border: 1px solid black;
    position: fixed;
    width: 1364px; /* 1348 */
}

#artigo-um {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: gray;
    padding: 10px;
    width: 50%;
}

#artigo-dois {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: gray;
    padding: 10px;
    width: 50%;
}

.lado-esquerdo {
    float: left;
}

.lado-direito {
    float: right;
}

#sublinhado {
    text-decoration: underline;
}

#rodape {
    border: 1px solid black;
}

aside {
    border: 1px solid black;
    width: 50%;
}
