body {
  background-color: rgb(20 , 107 , 58);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
  text-align: left;
  font: italic small-caps 600 16px/3 cursive;
}

header {
  position: fixed;
  margin-top: 0;
  background-color: rgb(22 , 91 , 51);
  width: 100%;
  height: 20vh;
  padding-left: 10px;
}

nav {
  position: fixed;
  top: 20vh;
  line-height: 2em;
  width: 100%;
  display: block;
  align-content: center;
  background-color: rgb(22 , 91 , 51);
  text-align: center;
}

footer {
  background-color: rgb(22 , 91 , 51);
  width: 100%;
  height: 20vh;
  text-align: center;
  align-self: flex-end;
}

#foto-aerea {
  width: 500px;
}

.container {
  padding-top: 25vh;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: justify;
}

aside {
  position: sticky;
  width: 200px;
  top: 90vh;
  text-align: center;
  height: 20px;
  right: 0;
  background-color: rgb(22 , 91 , 51);
}

aside a {
  color: white;
  font: italic small-caps 600 16px/3 cursive;
}

article {
  margin-left: 15px;
  margin-right: 15px;
}

.lado-esquerdo {
  float: left;
  margin: 3px;
  padding-left: 15%;
  justify-self: center;
  width: 60%;
}

.lado-direito {
  float: right;
  padding: 3px;
  border: rgb(22 , 91 , 51) solid 1px;
  margin-right: 2px;
}

table {
  border-top: black solid 2px;
  border-left: black solid 2px;
  border-right: black solid 2px;
  background-color: white;
}

th , td {
  border-bottom: black solid 2px;
}

td {
  border-left: black solid 2px;
}

.oculto {
  color: rgb(20 , 107 , 58);
}

.oculto2 {
  color: rgb(22 , 91 , 51);
}

.titulo {
  color: rgb(22 , 91 , 51);
  background-color: white;
  font-size: larger;
  font: italic small-caps 600 16px/3 cursive;
  padding: 6px;
  width: 300px;
}
