body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(190, 233, 141);
}
table, tr, th, td {
    border: 2px solid black;
    width: 30%;
}
#table {
    float: center;
    margin: auto;
    background-color: rgb(168, 177, 128);
    }
.table-title {
    text-align: center;
}
#cabecalho {
    position: fixed;
    width: 100%;
    text-align: center;
    font-family: 'Charm', cursive, sans-serif;
    font-size: 40px;
    color: rgb(97, 8, 8);
    top: 20px;
}
.nav-menu {
    padding: 25px;
    color: rgb(80, 48, 121);
}
img {
    width: 500px;
    height: 400px;
    float: center;
    border-radius: 40px;
    margin-right: 30px;
    margin-bottom: 30px;
    clear: both;
    margin: 30px;
}
p {
    line-height: 25px;
}
ul {
    text-align: center;
}
.lado-esquerdo {
    display: flex;
    float: left;
    width: 45%;
    text-align: left;
}
.lado-direito {
    display: flex;
    float: right;
    width: 45%;
    text-align: left;
}
ol, ul, h4 {
    text-align: left;
}
#rodape {
    width: 100%;
    display: inline-block;

}
#corpo{
    margin-top: 200px;

}