body {
  margin: 0;
  background-color: #444444;

  font-family: Roboto, sans-serif;
  font-size: 27px;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
}

#content-header {
  position: fixed;
  top: 60px;
  left: 0;
}

#content-header img {
  width: 100%;
  height: 400px;
}

#content-header.page-title {
  position: absolute;
}

#main-content {
  position: relative;
  padding: 30px;
  margin-top: 550px;

  background-color: #444444;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

h2 {
  font-size: 2.5em;
  font-weight: 600;
}

h3 {
  font-size: 2em;
  font-weight: 600;
}
