img {
    margin: 10px;
    padding: 5px;
    border: 2px solid rgb(212, 222, 241);
}

body {
    background-color: rgb(186, 189, 192);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    color: rgb(5, 58, 5);
    text-align: center;
    font-style: oblique;
}

header#cabecalho {
    position: fixed;
    width: 100%;
    background-color: #ccc;
}

div {
    width: 100%;
}

ul.left-side, ol.right-side {
    width: 50%;
    margin: 15px;
}

.left-side {
    float: left;
    margin: 0;
    list-style-type: none;
}

.left-side li {
    display: inline-block;
    border: 1px solid #fff;
}

ol.right-side {
    float: right;
    list-style-position: inside;
}

table {
    clear: both;
}