* {
    padding: 0px;
    margin: 0;
    background: #86af49
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: fit-content;
    overflow-y: visible;
}
.section {
    justify-items: center;
    align-items: center;
    justify-content: center;
}
header {
    background: #86af49;
    grid-column: 1/3;
    padding: 25px;
    font-family: Georgia, serif;
    font-size: xx-large;
}
#cabecalho {
    position: fixed;
}
nav {
    background-color: #86af49;
    grid-column: 3/5;
    padding: 50px;
    position: sticky;
}
.button {
    text-align: center;
    text-decoration: black;
    display: inline-block;

    padding: 10px 45px;
    font-size: 20px;
}
main {
    background-color: #b5e7a0;
    grid-column: 1/4;
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-template-rows: auto;
    padding: 20px;
    border-radius: 10%;
}
ol, ul, li {
    padding: 10px;
}
.list {
    padding: 10px;
}
aside {
    background-color: #e3eaa7;
    grid-column-start: 4;
    grid-column-end: 5; 
    padding: 20px;
    justify-content: center;
    border-radius: 10%;
}
#footer {
    background-color: #86af49;
    grid-column: 1/5;
    padding: 20px;
}
#rodape {
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

