/*COMENTS
Colors: 787878 / 454545 / DCDCDC / D92832 / d2cbcb
https://htmlcolorcodes.com/
https://www.schemecolor.com/dressed-to-the-nines.php
https://www.youtube.com/watch?v=AmPxJ17HPl4
https://pt.wikipedia.org/wiki/Campeonato_Mundial_de_Clubes_da_FIFA_de_2000#Grupo_A
*/

body
{
    background-color: #d2cbcb;
    margin: 0px 0px;
}

#cabecalho
{
    position: fixed;
    background-color: #787878;
    text-align: center;
    width: 100%;
    top: 0px;
    font-size: 15px;
}

#taca
{
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    float: right;
    max-width: 500px;
    border-color: #787878;
    border-radius: 50px;
    border-style: solid;
    border-width: 5px;
}

p
{
    /*margin: 40px 0px 40px 0px;*/
    margin-top: 100px;
    margin-left: 10px;
    padding-left: 10px;
}

