* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(206, 206, 206);
}

#cabecalho {
    position: fixed;
    width: 100%;
    height: 100px;
    background-image: url(./rolha.jpg);
    background-size: cover;
}

nav {
    margin-top: 95px;
    position: fixed;
}

nav ul {
    list-style: none;
    margin-top: 30px;
}

nav ul li {
    display: inline;
    margin-right: 90px;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    padding: 25px 60px;
    background-color: rgb(168, 34, 34);
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

nav a:hover {
    background-color: white;
    color: rgb(168, 34, 34);
    border: 1px solid rgb(168, 34, 34);
}

main {
    padding-top: 100px;
    width: 1000px;
    height: auto;
    margin: auto;
}

main h1 {
    padding-top: 80px;
    text-align: center;
    font-weight: 900;
    color: rgb(167, 3, 3);
    font-size: 45px;
    text-shadow: 2px 2px 4px black;
}

main img {
    width: 400px;
    height: 280px;
    float: left;
    margin: 0 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.section-wine {
    margin-top: 35px;
}

#terroir-history {
    text-align: center;
    margin-top: 30px;
    float: left;
}

#terroir-history h2 {
    font-style: italic;
    font-size: 30px;
    color: crimson;
}

#terroir-history p {
    padding: 30px 20px;
}

.lado-esquerdo {
    float: left;
    margin-top: 60px;
    margin-bottom: 50px;
    width: 50%;
    height: 300px;
    background-color: rgb(179, 245, 207);
}

.lado-direito {
    float: right;
    margin-top: 60px;
    width: 50%;
    height: 300px;
    background-color: rgb(207, 138, 9);
}

.lado-direito table{
    margin: 0 auto;
}

#page-vin-bordeaux {
    justify-content: center;
    margin-top: 200px;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    background-color: rgb(179, 0, 36);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#rodape {
    width: 100%;
    height: 200px;
    background-color: rgb(167, 3, 3);
    clear: both;
}