#cabecalho { color: brown;
    background-color: black;
    font-size: 50px;
    position: fixed;
    margin-left: 200px;
}

#rodape { color: brown;
    background-color: black;
    text-align: center;
}

#link_julio { text-decoration: none;
    color: brown;
}

body { background-color: rgba(161, 160, 99, 0.692);
}

.lista li { list-style-type: square;
    margin-bottom: 15px;
}

#menu { color: brown;
    text-align: center;
}

.ordem-frases li { margin-bottom: 15px;
}

#menu li { display: inline;
    padding: 5px;
    padding-left: 6px;
    background-color: black;
    border-radius: 5px;
}

img { border-style: groove;
    border-width: 5px;
}

#rosto { margin-top: 70px;
    margin-left: 500px;
    box-shadow: 5px 5px 10px;
}

#artigo { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#curiosidades { margin-top: 70px;
}

#frases { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#referencia { margin-top: 70px;
}

.fundo-artigo {
    background-color: rgba(92, 17, 12, 0.212);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
}
/*teste */