* {
  text-align: justify;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #f2136c;
}

.font-zero {
  font-size: 0;
}

.clear {
  clear: both;
}

.conteiner {
  float: left;
  width: 100%;
}

.content {
  float: left;
  width: 92%;
  margin: 0 4%;
  padding: 20px 0;
}

body { 
  background-color: #2a044d;
  color: #ffffff;
}

header {
  color: #23ffc2;
  position: fixed;
  width: 100%;
  margin: 0 50 0 0;
  top: 0;
  z-index: 9999;
}

#logo {
  font-size: 0;
  float: left;
}

#logo img {
  width: 25%;
}

.mobile-action {
  width: 46px;
  height: 46px;
  margin: 10px 0 0;
  float: right;
  cursor: pointer;
  background: #1a5977 url("img/mobile.jpeg") center center no-repeat;
  border-radius: 50%;
}

@media (max-width: 79.938em) {
  #nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 76%;
    height: 100%;
    min-width: 200px;
    max-width: 360px;
    z-index: 99;
    overflow: hidden;
    overflow-y: auto;
    background-color: black;
  }

  .nav-menu-item {
    float: left;
    width: 100%;
    position: relative;
  }

  .nav-menu-item a {
    color:#23ffc2;
    text-decoration: none;
    padding: 15px;
    width: 100%;
    float: left;
  }
}

/*
1280PX BREAKPOINT
*/
@media (min-width: 80em) {
  .mobile-action {
    display: none;
  }

  #nav-menu {
    float: right;
    width: 50%;
    text-align: right;
    margin-top: 20px;
  }

  .nav-menu-item {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }

  .nav-menu-item:last-of-type {
    margin-right: 20px;
  }

  .nav-menu-item > a {
    float: left;
    padding: 10px;
    text-decoration: none;
    color: #23ffc2;
    font-size: 0.9em;
    font-weight: bold;
  }

  .nav-menu-item:hover, 
  .nav-menu-item > a:hover {
    color: #f2136c;
  }

  .nav-menu-item:hover .main_header_nav_sub, 
  .nav-menu-item > a:hover .main_header_nav_sub {
    display: block;
  }
}

.m-top{
  margin-top: 7%;
}

.lado-esquerdo {
  float: left;
  width: 65%;
  margin: 2%;
}

.lado-esquerdo ol, ul {
  margin-top: 1.5%;
}

.lado-direito {
  float: right;
  width: 20%;
  margin: 2%;
}

.lado-direito a {
  text-decoration: none;
  color: #e595b5;
} 

.table td {
  border: 1px solid #f2136c;
  width: 5%;
}

section {
  margin-top: 88px;
}
