body {
  background-color: rgb(215 , 255 , 222);
  color: rgb(17 , 16 , 90);
  margin: 0;
}

#cabecalho {
  position: fixed;
  width: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(36 , 35 , 35);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: rgb(215 , 255 , 222);
  float: left;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(224 , 224 , 224);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(92 , 163 , 104);
  color: white;
}
#top {
  background: rgb(92 , 163 , 104);
  color: white;
  font-size: 30px;
  padding: 60px;
  text-align: center;
}
label {
  font-size: 20px;
}

/* Tabela */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid rgb(221 , 221 , 221);
  width: 100%;
}
th ,
td {
  padding: 16px;
  text-align: left;
}

tr:nth-child( even ) {
  background-color: rgb(92 , 163 , 104);
}
#rodape {
  background-color: rgb(10 , 7 , 7);
  bottom: 0;
  color: white;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
#rodape a {
  color: rgb(215 , 255 , 222);
  text-decoration: none;
}
