article {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 20px;
    text-align: justify;
}body {
    background-color: rgb(96, 180, 195);
    margin: 0px;
    font-family: "Baloo 2";
}
#cabecalho {
    position: fixed;
    background-color: rgb(2, 4, 83);
    color: whitesmoke;
    clear: both;
    text-align: center;
    display: block;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding-top: 0px;
    }
figure {
    margin-top: 200px;
    text-align: center;
}
footer {
    text-align: center;
}
#corpo {
    border: 20px solid rgb(2, 4, 83);
}