body {
  background-color: rgb(20 , 107 , 58);
  margin: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(234 , 70 , 48);
  text-align: left;
}

header #cabecalho {
  position: fixed;
  background-color: rgb(22 , 91 , 51);
  width: 100%;
  font: italic small-caps 600 16px/3 cursive;
}

footer {
  background-color: rgb(22 , 91 , 51);
  width: 100%;
  padding-top: 20px;
  text-align: end;
  margin-top: 900px;
}

#foto-aerea {
  width: 500px;
}

#container {
  padding: 30px 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

article {
  margin-left: 15px;
  margin-right: 15px;
}

.lado-esquerdo {
  float: left;
  margin: 3px;
  padding: 3px;
  border: rgb(248 , 178 , 41) solid 5px;
}

.lado-direito {
  float: right;
  margin: 3px;
  padding: 3px;
  border: rgb(248 , 178 , 41) solid 5px;
}
