/*COMENTS
Colors: 787878 / 454545 / DCDCDC / D92832 / d2cbcb
https://htmlcolorcodes.com/
https://www.schemecolor.com/dressed-to-the-nines.php
https://pt.wikipedia.org/wiki/Campeonato_Mundial_de_Clubes_da_FIFA_de_2000#Grupo_A
*/

body
{
    background-color: #d2cbcb;
    margin: 0px 0px;
}

.geral
{
    margin-left: 100px;
}

#cabecalho
{
    position: fixed;
    background-color: #787878;
    text-align: center;
    width: 100%;
    top: 0px;
    font-size: 2em;
}

#taca
{
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    float: right;
    max-width: 500px;
    border-color: #787878;
    border-radius: 50px;
    border-style: solid;
    border-width: 5px;
}

p, li
{
    /*margin: 40px 0px 40px 0px;*/
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 20px;
}

nav
{
    margin-top: 120px;
    margin-bottom: 100px;
    background-color: #787878;
}

nav h3 a
{
    margin-left: 3em;
    text-decoration: underline;
    color: black;

}

nav h3 a:hover
{
    background-color: #D92832;
    color:#DCDCDC;
}

h4
{
    margin-left: 20px;
    font-size: 1.7em;
}

.logos
{
    float: left;
    width: 11%;
    max-height: 180px;
    padding: 10px;
}

.clear
{
    clear: both;
}

table.tabelaPrincipal
{
    margin: 30px;
    border-width: 2px;
	border-spacing: 5px;
	border-style: solid;
	border-color: #787878;
	border-collapse: collapse;
}

.lado-esquerdo
{
    float: left;
}

.lado-direito
{
    float: right;
}

table.tabelaPrincipal th, td
{
    border-width: 2px;
	padding: 2px;
	border-style: inset;
    border-color: #787878;
    text-align: center;
}

div h2 a
{
    font-size: 1.7em;
    text-align: center;
    margin-left: 20px;
    color: black;
}