body{
    background-color: greenyellow;
    margin: 0px;
    margin-top: 100px;
    color: rgb(0, 29, 0);
}
header{
    background-image: url(background.png);
    background-size: 54px;
    background-color: green;
    color: white;
    text-align: center;
    position: fixed;
    width: 99.2%;
    top: 0;
    border: 5px;
    border-style: groove;
    border-color: green;
}
header *{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}
header img{
    position: relative;
    top: 10px;
    width: 40px;
}