html , body {
  font-family: "Sen", 'Ancient Runes', serif;;
  margin-top: 0;
  margin-left: 2em;
  margin-right: 2em;
  box-sizing: border-box;
  background: rgba( 236, 236, 236, 0.473 );
}

#container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 15vh 12vh auto 20vh;
  grid-template-areas: 'figure nav nav' 'header header header' 'article article aside' 'footer footer footer';
}

/* Section NAV */
nav {
  background: black;
  grid-area: nav;
  display: flex;
}

ul {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

nav ul {
  margin: 0px;
  padding: 24px 0px 5px 30px;
}

nav li {
  margin-right: 40px;
  list-style: none;
  text-decoration: none;
  display: inline;
}

nav li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

/* Section HEADER */
#cabecalho {
  background: rgba( 128, 128, 118, 0.87 );
  grid-area: header;
  position: fixed;
  top: 0;
}

#cabecalho .heading {
  text-align: center;
  font-size: 2em;
  color: white;
  font-style: italic;
}

#cabecalho .heading2 {
  font-style: bold;
}
/* Section FIGURE */
figure {
  background: rgb( 255, 255, 253, 255 );
  grid-area: figure;
  margin: 0;
  justify-self: center;
}

figure .logo {
  margin-top: 20%;
}

/* Section MAIN */
.lado-esquerdo  {
  background: rgba( 181, 181, 184, 0.295 );
  grid-area: article;
}

.lado-esquerdo  section {
  margin-top: 1em;
  margin-left: 10%;
  margin-right: 10%;
}

.lado-esquerdo  #jsimg {
  width: 50%;
}

.lado-esquerdo  #javaimg {
  width: 50%;
}

.lado-esquerdo  #cimg {
  width: 50%;
}

.lado-esquerdo  #phpimg {
  width: 50%;
}

.lado-esquerdo  #pythonimg {
  width: 50%;
}

.lado-esquerdo div {
  border: solid 1px;
  border-color: rgba( 0, 0, 0, 0.178 );
  margin-left: 10%;
  margin-right: 10%;
}

/* Section ASIDE */
.lado-direito {
  background: rgba( 84, 85, 84, 0.219);
  grid-area: aside;
}

.lado-direito #tabela {
  padding: 1em;
  border: solid;
  border-radius: 8px;
  align-items: center;
}

.lado-direito #lista {
  padding: 1em;
  border: solid;
  border-radius: 8px;
  align-items: center;
}

/* Section FOOTER */
#rodape {
  background: rgba(37, 1, 1, 0.336);
  grid-area: footer;
}

#rodape div ul {
  margin-top: 3em;
  text-align: center;
  font-size: 1em;
  list-style-type: none;
}
