body {
  background-color: greenyellow;
  margin: 0;
  margin-top: 50px;
  padding-top: 50px;
  color: rgb(0 , 29 , 0);
}

header {
  background-image: url('background.png');
  background-size: 54px;
  background-color: green;
  color: white;
  text-align: center;
  position: fixed;
  width: 99.2%;
  top: 0;
  border: 5px;
  border-style: groove;
  border-color: green;
}

article {
  margin: 1em;
}

nav {
  margin: 1em;
  border: 5px rgb(0 , 88 , 0) groove;
  border-radius: 10px;
  background-color: green;
  color: white;
}

p {
  margin: 0;
}

header * {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

header img {
  position: relative;
  top: 10px;
  width: 40px;
}

.lado-esquerdo {
  float: left;
  width: 50%;
  margin-left: 20px;
}

.lado-direito {
  float: right;
  width: 15%;
}

nav a {
  color: white;
}

nav a:hover {
  color: gray;
}

.clear-both {
  clear: both;
}
