#cabecalho{
    color: brown;
    background-color: black;
    font-size: 50px;
    position: fixed;
    margin-left: 200px;
}

#rodape{
    color: brown;
    background-color: black;
    text-align: center;
}

#link_julio{
    text-decoration: none;
    color: brown;
}

body{
    background-color: rgba(161, 160, 99, 0.692);
}

#menu{
    color: brown;
    text-align: center;
}

#menu li{
    display: inline;
    padding: 5px;
    padding-left: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;

}

img{
    border-style: groove;
    border-width: 5px;
}

#rosto{
    margin-top: 70px;
    margin-left: 500px;
    box-shadow: 5px 5px 10px;
}

#artigo{
    padding-top: 30px;
}

#curiosidades{
    margin-top: 70px;
}

li{
    margin-bottom: 15px;
}

#frases{
    margin-top: 70px;
}

.lista{
    list-style-type: square;
}

#referencia{
    margin-top: 70px;
}