body {
  background: rgb(226 , 229 , 240);
}

#cabecalho {
  width: 1335px;
  height: 80px;
  background: rgb(98 , 100 , 224);
  margin: 0 auto;
  position: fixed;
}

#cabecalho h1 {
  text-align: center;
  padding-top: 8px;
  color: rgb(226 , 229 , 240);
}

#topo {
  background: rgb(236 , 236 , 201);
  width: 1323px;
  margin: 0 auto;
  padding: 6px;
  text-align: center;
  margin-top: 14px;
}

.lado-esquerdo {
  background: rgb(216 , 216 , 191);
  float: left;
  height: 400px;
  margin-left: 64px;
  margin-top: 175px;
  width: 950px;
  text-align: left;
  padding: 4px;
}

table {
  border-top: blue solid 2px;
  border-left: blue solid 2px;
  border-right: blue solid 2px;
  background-color: white;
}

th ,
td {
  border-bottom: blue solid 2px;
}

td {
  border-left: blue solid 2px;
}

.lado-direito {
  background: rgb(216 , 216 , 191);
  float: right;
  margin-right: 63px;
  height: 400px;
  margin-top: 175px;
  text-align: left;
  padding: 4px;
}

#rodape {
  background: rgb(75 , 119 , 214);
  float: left;
  margin-left: 64px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 1200px;
}
