body {
  background-color: #f2f2f2;
  font-family: 'Abel', sans-serif;
  margin: 0;
  padding: 0;
}

/* ------ Header ------ */

header {;
  background-color: #11a36a;
  height: 80px;
  width: 100%;
}

#name-logo h1 {
  float: left;
  margin: 10px;
}

#name-logo a {
  color: white;
  padding: 10px 25px;
  margin-right: 40px;
  display: block;
  text-decoration: none;
}

nav ul {
  list-style: none;
  float: right;
  margin-right: 50px;
}

nav ul li {
  float: left;
  padding: 10px;
}

nav ul li a:link {
  display: block;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

nav ul li a:visited {
  display: block;
  margin-right: 25px;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: white;
  color: #11a36a;
}

/* ------ Container ------ */

#container {
  position: ;
  margin-top: 100px;
}
