body {
  margin: 0;
  background-color: rgba(68 , 68 , 68 , 1);
  font-family: Roboto, sans-serif;
  font-size: 27px;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
}

#content-header {
  position: fixed;
  top: 60px;
  left: 0;
}

#header-img {
  width: 100%;
  height: 400px;
}

#content-header.page-title {
  position: absolute;
}

#main-content {
  position: relative;
  padding: 30px;
  margin-top: 550px;
  background-color: rgba(68 , 68 , 68 , 1);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

h2 {
  font-size: 2.3em;
  font-weight: 600;
  margin-bottom: 20px;
}

h3 {
  font-size: 2em;
  font-weight: 300;
}

.lado-esquerdo {
  position: absolute;
  top: 0;
  left: 0;
}

.lado-direito {
  position: absolute;
  top: 0;
  right: 0;
}

.spotlight {
  position: relative;
  min-height: 350px;
  margin-bottom: 50px;
}

.spotlight-text {
  max-width: 50%;
}

.spotlight img {
  margin-right: 20px;
  width: 700px;
  border: 0;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0 , 0 , 0 , 0.44);
  filter: saturate(120%);
}

table {
  border: none;
  padding: 15px;
  margin: 5px;
}
