* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgba(242,242,242,1.0);
}
#cabecalho {
    background-color: rgba(46,46,46,1.0);
    font-family: sans-serif;
    letter-spacing: 1.05em;
    line-height: 3.2rem;
    padding: 0px;
    position: fixed;
    width: 100%;
}
#cabecalho h1 {
    color: white;
    font-size: 50px;
    padding-top: 10px;
    text-align: center;
}
nav {
    margin-top: 60px;
    position: fixed;
    top: 0;
    width: 100%;
}
nav ul {
    background-color: rgba(88,88,88,1.0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
nav ul li {
    cursor: pointer;
    display: inline-table;
    font-size: 18px;
    margin: 0px 0px;
    padding: 5px 50px;
}
nav ul li:hover {
    background-color: rgba(46,46,46,1.0);
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.fotocapa {
    padding-top: 100px;
    text-align: center;
}   
.conteudo{
    background-color: rgb(242, 242, 242);
    color: rgba(0,0,0,.75);
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 10px;
    text-align: justify;
}
.conteudo p {
    padding-top: 15px;
}
.conteudo h2, h3, h4{
    padding-bottom: 15px;
    padding-top: 50px;
}
.conteudo h2 {
    font-size: 35px;
}
.conteudo h3 {
    font-size: ;
}
.conteudo h4{
    text-decoration: underline;
}
#rodape {
    background: rgba(88,88,88,1.0);
    color: white;
    font-size: 20px;
    height: 30px;
    padding: 10px 100px 20px;
    text-align: center;
    vertical-align: middle;
    }
#rodape p {
    display: inline-block;
    margin-bottom: 40px;
    padding-left: 30px;
    text-align: center;
    text-align: justify;
    vertical-align: middle;
}
.divtable {
    margin-top: 25px;       
}
#table {
    width: 100%;
    }
#table td {
    border: 1px solid rgb(128, 128, 128);
    height: 40px;
    padding-left: 5px;
}
#linha1 {
    font-weight: bold;
    text-align: center;
}

.lado-esquerdo {
    float: left;
    
}
.lado-direito {
    float: right;
}
#dicas {
    clear: both;
}