article {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 20px;
    text-align: justify;
}
body {
    background-color: rgb(96, 180, 195);
    margin: 0px;
    font-family: "Baloo 2";
}
#bonus {
    border: 0px;
    margin-left:auto;
    margin-right:auto;
}
#cabecalho {
    position: fixed;
    background-color: rgb(2, 4, 83);
    color: whitesmoke;
    clear: both;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: -180px;
    }
#corpo {
    border: 20px solid rgb(2, 4, 83);
}
#imagem {
    margin-top: 180px;
    text-align: center;
}
#quote {
    font-style: italic;
}
#rodape {
    text-align: left;
}
