* {
    margin: 0;
    padding: 0;
}

html, body { 
    height: 100%;
 }

body {
    background-color: rgba(246,244,243,1.0);
    min-height: 100%;
}
#all {
    min-height: 100%;
    position: relative;
}

* html #all {
    height: 100%;
}

header#cabecalho {
    background-color: rgba(24, 48, 89, 1.0);
    position: fixed;
    width: 100%;
    color: rgba(246,244,243,1.0);
    padding:20px;
}
#section1 {
    display:inline-block;
    margin-top:100px;
    margin-bottom: 40px;
}
.intro { 
    padding:10px;
    float: right;
    max-width: 550px;
    text-align: justify;
    margin-top:50px;
}

.picture1 {
    display: inline;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 10px;
}

.wiki {
    background-color: #276FBF;
    line-height: 1.5em;
    float: right;
    clear:right;
    border:2em;
    padding:20px;
    margin:100px 20px 20px 20px;
}
.lado-direito {
    float: right;
    width: 10px;
    height: 10px;
}

.lado-esquerdo {
    float: left;
    width: 10px;
    height: 10px;
}

#nav {
    min-height: 100%;
    display: block;
}
footer#rodape {
    background-color: #276FBF;
    width: 100%;
    color: rgba(246,244,243,1.0);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}


