img {
    margin: 10px;
    padding: 5px;
    border: 2px solid rgb(212, 222, 241);
    width: 250px;
}

body {
    background-color: rgb(186, 189, 192);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    color: rgb(4, 27, 4);
    text-align: center;
    font-style: oblique;
}

header#cabecalho, nav {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #ccc;
}

section {
    margin-top: 55px;
}

div {
    width: 100%;
}

table {
    
}