@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255 , 210 , 87);
  font-family: 'Baloo 2', cursive;
  color: rgb(128 , 114 , 82);
}

#cabecalho {
  position: fixed;
  background-color: rgb(128 , 102 , 43);
  width: 100%;
}

.lado-esquerdo {
  float: left;
  width: 50%;
}

.lado-direito {
  float: right;
  width: 50%;
}

h1 {
  font-size: 42px;
  color: rgb(255 , 210 , 87);
  margin-left: 16px;
}

.menu {
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 16px;
  text-align: right;
}

#space-cat , 
ul li a {
  color: rgb(128 , 114 , 82);
}

.menu a {
  text-decoration: none;
  color: rgb(255 , 210 , 87);
  margin-right: 24px;
  font-size: 24px;
}

.content {
  margin-left: 32px;
  padding: 8px;
}

.img-1 {
  margin-top: 100px;
  width: 550px;
  border: 15px ridge rgb(128 , 114 , 82);
}

h2 {
  font-size: 32px;
}

table , 
th , 
td {
  border: 0.5px solid rgb(128 , 114 , 82);
  border-collapse: collapse;
}

th , 
td {
  padding: 8px;
}

h3 {
  font-size: 28px;
}

p {
  font-size: 18px;
  line-height: 30px;

}

.img-2 {
  width: 350px;
  border: 15px ridge rgb(128 , 102 , 43);
}

ul , 
ol {
  list-style-position: inside;
  margin-left: 16px;
  margin-bottom: 16px;
}

ul li a:hover , 
.menu a:hover , 
#space-cat:hover {
  color: rgb(204 , 164 , 69);
}

footer {
  background-color: rgb(128 , 114 , 82);
  width: 100%;

}

footer p {
  color: rgb(255 , 210 , 87);
  margin-left: 32px;
  margin-bottom: 0;
  padding: 8px;
}
