body{
 background-color: rgb(146, 12, 63);
 width:100%;
 margin:auto; 
}

img{
 width: 100px;     
 position: absolute;
 margin-top:15px;
 margin-left: 10px;    
}

href{
 text-decoration: none;
}

#menu-opcoes{
  position: fixed;
  text-align: right;
  left: 850px;
  top: 10px;    
}

#menu-opcoes li{
  display: inline;
  padding: 5px;
  font-size: 25px; 
  color: #ffffff; 
  font-style:initial;
  font-weight: bold;
  font-family: monospace; 
}

#menu-opcoes a{
  text-decoration: none;
  color: #ffffff; 
}

#menu-opcoes a:hover, .active{
  background-color: chartreuse!important;    
}

#cabecalho{
  background-color: rgb(3, 233, 22);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  margin: 0 0 0 0;     
}

#cabecalho p{
  position:relative;
  text-align: center;
  font-size: 0px;
}

.lado-esquerdo{
  position: absolute;
  margin-top: 30px;
  float: left;
}

.lado-esquerdo div{
  position: relative;
  width: 1000px;
  font-size: 25px;
  margin-left: 10px;  
}

#cargo, th, td{
  border: 1px solid black;  
  padding: 3px;  
}

.lado-direito{ 
  position: relative;
  width: 100px;
  height: 800px;
  float: right;
}

.lado-direito{  
  background-color: #fffbe4;
  border: 1px solid #c9bc8f; 
  padding: 10px; 
  margin-top: 60px;  
}

.lado-direito h3{
  margin-top: 0;
}

footer{
  background-color: rgb(3, 233, 22);
  position: absolute;
  bottom: 0;
  width:100%;
  margin: 0 0 0 0px;   
}

#nav-rodape{    
  float: right;
  margin-right: 20px;  
}

#nav-rodape li{
  display: inline;
  text-align: center;        
}