@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400i|Muli|Podkova:600&display=swap");

body {
  margin: 0;
}

li,
a,
button,
i {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(135, 206, 250, 1);
  text-decoration: none;
}

button {
  padding: 9px 25px;
  color: rgba(245, 245, 245, 1);
  background-color: rgba(135, 206, 250, 1);
  border-style: none;
  border-radius: 50px;
  transition: all .3s ease 0s;
  cursor: pointer;
}

button:hover {
  background-color: rgba(135, 206, 250, .8);
}

i {
  margin-right: auto;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0 20px;
}

.navlinks li a {
  transition: all .3s ease 0s;
}

.navlinks li a:hover {
  color: rgba(245, 245, 245, 1);
}

#cabecalho {
  background-color: rgb(160, 173, 187, 1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 30px;
}

#navtitle {
  font-family: "Podkova", serif;
  font-size: 38px;
  color: rgba(135, 206, 250, 1);
  text-decoration: none;
  cursor: pointer;
}

/* body {
  background-color: rgba(236, 94, 100, 1.0);
  margin: 0;
  font-family: sans-serif;
  font-size: medium;
  font-style: italic;
  color: white;
}

table,
tr,
td {
  border-collapse: collapse;
  border: 5px solid rgba(40, 169, 143, 1.0);
  padding-right: 30px;
}

#cabecalho {
  position: fixed;
  overflow: hidden;
  background-color: rgba(107, 57, 121, 1.0);
  width: 100%;
  top: 0;
  clear: both;
}

.lado-direito {
  float: right;
  margin-top: 100px;
}

.lado-esquerdo {
  float: left;
  margin-top: 100px;
}

#rodape {
  position: relative;
  margin-top: -100px;
  width: 100%;
  clear: both;
}
 */
