body{
    padding-top: 120px;
    padding-bottom: 40px;
    background-color: #EBEBEB;
    font-family: Helvetica, sans-serif;
}
#cabecalho {    
    width: 100%;
    position: fixed;  
    margin-left: -10px;      
    background: #5f5f5f;;
    color: #fff;
    top: 0;
}
img{
    margin-left: 40px;
    border-radius: 50px 15px;
}
#picture{
    clear: both;
}
.lado-esquerdo{
    float: left;
    margin-left: 150px;
}
.lado-direito{
    float: right;
    margin-right:  250px;
}
h1{
    margin-left: 10px;
    font-family: 'Baloo Chettan 2', serif;
}
h2{
    font-family: 'Baloo Chettan 2', serif;
}
img{
    margin-left: 40px;
    border-radius: 50px 15px;
}
#article_info_general{
    margin:  1px 150px 1px 20px;
    text-align: justify;
}
#rodape{
    text-align: center  ;
}
table{
    padding: 10px;
}
th, td {
    border: 1px solid black;
}
th{
    color: blue;
}
.list_nav li{
    float: left;
  } 
.list_nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5f5f5f;
    }
.list_nav a{
    display: block;
    color: #f1f1f1;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-family: 'Baloo Chettan 2', serif;
    font-size: 20px;
    line-height: 1.5;
}