body {
  background-color: #444444;

  font-family: Roboto, sans-serif;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
}

#content-header {
  position: fixed;
  top: 60px;
  left: 0;
}

#content-header img {
  width: 100%;
  height: 400px;
}

#content-header.page-title {
  position: absolute;
}

#main-content {
  position: relative;
  padding: 30px;
  padding-top: 550px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

