
        body {
            margin: 0;
            padding: 0;
            background-color: rgb(175, 136, 136);
        }
        #cabecalho {
            position: fixed;
            background-color:black;
            width: 100%;
        }
        #picture {
            margin-left: 60px;
            margin-top: 20px;
        }
        #rodape {
            background-color: black;
            color: white;
            margin: 0px;
        }
        .rodape2 {
            padding: 10px;
            margin-bottom: 0px;
            margin-left: 30px;
        }
        