* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #f2f2f2;
}
#cabecalho {
    position: fixed;
    padding: 0px;
    width: 100%;
    background-color: #2e2e2e;
    font-family: sans-serif;
    line-height: 3.2rem;
    letter-spacing: 1.05em;
}
#cabecalho h1 {
    color: white;
    font-size: 50px;
    padding-top: 10px;
    text-align: center;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 60px;
}
nav ul {
    background-color: #585858;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li {
    display: inline-table;
    padding: 5px 50px;
    margin: 0px 0px;
    cursor: pointer;
    font-size: 18px;
}
nav ul li:hover {
    background-color: #2E2E2E;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
.fotocapa {
    text-align: center;
    padding-top: 100px;
}   