<style>
.bodycolor{
    background-color: lightgray;
    position:absolute;
}
#cabecalho{
    background-color:darkcyan;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#rodape{
    background: burlywood;
}
</style>
