@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400i|Muli|Podkova:600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  color: rgba(245, 245, 245, 1);
}

li,
a,
button,
i {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(135, 206, 250, 1);
  text-decoration: none;
}

button {
  padding: 9px 25px;
  color: rgba(245, 245, 245, 1);
  background-color: rgba(135, 206, 250, 1);
  border-style: none;
  border-radius: 50px;
  transition: all .3s ease 0s;
  cursor: pointer;
}

button:hover {
  background-color: rgba(135, 206, 250, .8);
}

h1 {
  font-family: "Podkova", serif;
  font-size: 5em;
  font-weight: 600;
  color: rgba(245, 245, 245, 1);
  margin: 0 auto;
}

h3 {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 3em;
  font-weight: 400;
  color: rgba(245, 245, 245, 1);
  font-style: italic;
  margin: 0 auto;
}

i {
  margin-right: 58%;
}

.boximage {
  object-fit: cover;
  width: 500px;
  height: 500px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.container {
  width: vw;
  margin: 0 auto;
  padding: 30px;
  height: 560px;
  border: none;
  background: rgba(160, 173, 187, 1);
  justify-content: space-between;
  align-items: center;
}

.container-small {
  height: 300px;
}

.flex {
  display: flex;
}

.flex-item-1 {
  flex: 1;
}

.item {
  margin: 5px;
  border-style: none;
  text-align: center;
  font-size: 1.5em;
}

.lado-esquerdo {
  display: flex;
  margin: 5 px auto;
  width: 100%;
  height: 250px;
  border: 1px solid rgba(245, 245, 245, 1);
  text-align: center;
  font-size: 2em;
  justify-content: center;
  align-items: center;
}

.lado-esquerdo li {
  color: rgba(245, 245, 245, 1);
}

.lado-esquerdo h3 {
  font-size: 1.25em;
  text-decoration: underline;
  justify-content: center;
}

.lado-esquerdo ol {
  margin: 0;
}

.lado-direito {
  display: flex;
  margin: 5px 30px;
  width: 200px;
  height: 250px;
  border: 1px solid rgba(245, 245, 245, 1);
  text-align: center;
  font-size: 1em;
  align-items: center;
  justify-content: center;
}

.lado-direito h3 {
  font-size: 1.5em;
  text-decoration: underline;
  justify-content: center;
}

.mainimg {
  background-image: url("imgs/doggo-main.jpg");
  height: 900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-blend-mode: overlay;
  opacity: .75;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0 20px;
}

.navlinks li a {
  transition: all .3s ease 0s;
}

.navlinks li a:hover {
  color: rgba(245, 245, 245, 1);
}

.navtitle {
  font-family: "Podkova", serif;
  font-size: 2.25rem;
  color: rgba(135, 206, 250, 1);
  text-decoration: none;
  cursor: pointer;
}

.page-wrapper {
  position: absolute;
  left: 0;
  top: 325px;
  width: 100%;
  text-align: center;
}

.secimg .page-wrapper {
  top: 1800px;
}

.secimg {
  background-image: url("imgs/doggo-sec.jpg");
  height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-blend-mode: overlay;
  opacity: .75;
}

#cabecalho {
  background-color: rgba(160, 173, 187, 1);
  display: flex;
  flex: 1;
  position: fixed;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 0;
  z-index: 1;
}

#rodape {
  background-color: rgba(160, 173, 187, 1);
  font-size: .75em;
  text-align: right;
  height: 30px;
  padding: 5px 20px;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}
